dbanalytic/pipeline/Process Blobs.json
{
	"name": "Process Blobs",
	"properties": {
		"activities": [
			{
				"name": "LookupProcessableBlobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "ProcessableBlobsDataSets",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopProcessBlobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupProcessableBlobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupProcessableBlobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Container",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set blobName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set blobPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						},
						{
							"name": "Set blobPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": {
									"value": "@{item().Path}\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set blobName",
							"description": "Set blobPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data to Synapse",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Container",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						},
						{
							"name": "Update Processable Status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data to Synapse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			}
		],
		"variables": {
			"blobName": {
				"type": "String"
			},
			"blobPath": {
				"type": "String"
			},
			"container": {
				"type": "String"
			}
		},
		"annotations": []
	}
}